# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
version.py

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
microdados_enem_2025.zip
data/DADOS/ITENS_PROVA_2025.csv
data/DADOS/PARTICIPANTES_2025.csv
data/DADOS/RESULTADOS_2025.csv
data/DICIONÁRIO/Dicionário_Microdados_Enem_2025.ods
data/DICIONÁRIO/Dicionário_Microdados_Enem_2025.xlsx
data/INPUTS/INPUT_R_ITENS_PROVA_2025.R
data/INPUTS/INPUT_R_PARTICIPANTES_2025.R
data/INPUTS/INPUT_R_RESULTADOS_2025.R
data/INPUTS/INPUT_SAS_ITENS_PROVA_2025.sas
data/INPUTS/INPUT_SAS_PARTICIPANTES_2025.sas
data/INPUTS/INPUT_SAS_RESULTADOS_2025.sas
data/INPUTS/INPUT_SPSS_ITENS_PROVA_2025.sps
data/INPUTS/INPUT_SPSS_PARTICIPANTES_2025.sps
data/INPUTS/INPUT_SPSS_RESULTADOS_2025.sps
data/LEIA-ME E DOCUMENTOS TÉCNICOS/~$ia_Me_Enem_2025.docx
data/LEIA-ME E DOCUMENTOS TÉCNICOS/A_Redacao_no_ENEM_2025_Cartilha_do_Participante.pdf
data/LEIA-ME E DOCUMENTOS TÉCNICOS/Edital_ENEM_2025.pdf
data/LEIA-ME E DOCUMENTOS TÉCNICOS/ENEM_Procedimentos_de_Analise.pdf
data/LEIA-ME E DOCUMENTOS TÉCNICOS/Entenda_a_Sua_Nota_no_Enem_Guia_do_Participante.pdf
data/LEIA-ME E DOCUMENTOS TÉCNICOS/Leia_Me_Enem_2025.pdf
data/LEIA-ME E DOCUMENTOS TÉCNICOS/Matriz_Referencia_ENEM.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_01_DIA_1_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_02_DIA_1_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_03_DIA_1_BRANCO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_04_DIA_1_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_05_DIA_2_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_06_DIA_2_CINZA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_07_DIA_2_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_08_DIA_2_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_09_DIA_1_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_09_DIA_1_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_09_DIA_1_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_09_DIA_1_LARANJA_LEITOR_TELA_DOSVOX.txt
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_09_DIA_1_LARANJA_LEITOR_TELA_NVDA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_09_DIA_1_LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_10_DIA_1_ROXO_LIBRAS_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_10_DIA_1_ROXO_LIBRAS_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_10_DIA_1_ROXO_LIBRAS.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_11_DIA_2_ LARANJA _AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_11_DIA_2_ LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_11_DIA_2_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_11_DIA_2_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_11_DIA_2_LARANJA_LEITOR_TELA_DOSVOX.txt
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_11_DIA_2_LARANJA_LEITOR_TELA_NVDA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_12_DIA_2_ROXO_LIBRAS_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_12_DIA_2_ROXO_LIBRAS_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_CAD_12_DIA_2_ROXO_LIBRAS.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_01_DIA_1_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_02_DIA_1_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_03_DIA_1_BRANCO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_04_DIA_1_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_05_DIA_2_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_06_DIA_2_CINZA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_07_DIA_2_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_08_DIA_2_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_09_DIA_1_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_09_DIA_1_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_09_DIA_1_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_09_DIA_1_LARANJA_LEITOR_TELA_DOSVOX.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_09_DIA_1_LARANJA_LEITOR_TELA_NVDA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_09_DIA_1_LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_10_DIA_1_ROXO_LIBRAS_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_10_DIA_1_ROXO_LIBRAS_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_10_DIA_1_ROXO_LIBRAS.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_11_DIA_2_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_11_DIA_2_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_11_DIA_2_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_11_DIA_2_LARANJA_LEITOR_TELA_DOSVOX.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_11_DIA_2_LARANJA_LEITOR_TELA_NVDA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_11_DIA_2_LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_12_DIA_2_ROXO_LIBRAS_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_12_DIA_2_ROXO_LIBRAS_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1_GAB_12_DIA_2_ROXO_LIBRAS.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_01_DIA_1_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_02_DIA_1_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_03_DIA_1_BRANCO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_04_DIA_1_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_05_DIA_2_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_06_DIA_2_CINZA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_07_DIA_2_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_08_DIA_2_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_09_DIA_1_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_09_DIA_1_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_09_DIA_1_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_09_DIA_1_LARANJA_LEITOR_TELA_DOSVOX.txt
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_09_DIA_1_LARANJA_LEITOR_TELA_NVDA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_09_DIA_1_LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_11_DIA_2_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_11_DIA_2_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_11_DIA_2_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_11_DIA_2_LARANJA_LEITOR_TELA_DOSVOX.txt
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_11_DIA_2_LARANJA_LEITOR_TELA_NVDA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_CAD_11_DIA_2_LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_01_DIA_1_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_02_DIA_1_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_03_DIA_1_BRANCO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_04_DIA_1_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_05_DIA_2_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_06_DIA_2_CINZA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_07_DIA_2_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_08_DIA_2_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_09_DIA_1_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_09_DIA_1_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_09_DIA_1_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_09_DIA_1_LARANJA_LEITOR_TELA_DOSVOX.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_09_DIA_1_LARANJA_LEITOR_TELA_NVDA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_09_DIA_1_LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_11_DIA_2_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_11_DIA_2_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_11_DIA_2_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_11_DIA_2_LARANJA_LEITOR_TELA_DOSVOX.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_11_DIA_2_LARANJA_LEITOR_TELA_NVDA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P1-BAM_GAB_11_DIA_2_LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_01_DIA_1_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_02_DIA_1_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_03_DIA_1_BRANCO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_04_DIA_1_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_05_DIA_2_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_06_DIA_2_CINZA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_07_DIA_2_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_08_DIA_2_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_09_DIA_1_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_09_DIA_1_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_09_DIA_1_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_09_DIA_1_LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_11_DIA_2_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_11_DIA_2_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_11_DIA_2_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_CAD_11_DIA_2_LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_01_DIA_1_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_02_DIA_1_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_03_DIA_1_BRANCO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_04_DIA_1_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_05_DIA_2_AMARELO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_06_DIA_2_CINZA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_07_DIA_2_AZUL.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_08_DIA_2_VERDE.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_09_DIA_1_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_09_DIA_1_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_09_DIA_1_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_09_DIA_1_LARANJA_SUPERAMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_11_DIA_2_LARANJA_AMPLIADA.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_11_DIA_2_LARANJA_ATENDIMENTO_ESPECIALIZADO.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_11_DIA_2_LARANJA_LEDOR.pdf
data/PROVAS E GABARITOS/ENEM_2025_P2_GAB_11_DIA_2_LARANJA_SUPERAMPLIADA.pdf
eda_report.txt
